.gallery-grid, .gallery-list {
    display: none;
}

.show-grid .gallery-grid {
    display: flex;
}

.show-list .gallery-list {
    display: block;
}

.btn-view {
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
}


.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    text-align: left;
    font-size: 16px;
}

.image-caption {
    margin-top: 10px;
    color: #333;
}

.show-grid .hide-in-grid {
    display: none;
}
.likes {
    text-align: left;
    font-weight: bold;
    margin-top: 16px; 
    margin-bottom: 4px;
}
.gallery-grid .col-4 {
    flex: 1 1 calc(33.333% - 10px);
    margin: 5px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
}

.gallery-list .col-12 {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
}
.gallery-grid .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.gallery-grid .card img {
    height: 200px; /* Ajusta este valor según el tamaño que quieras */
    object-fit: cover;
}

.gallery-grid .card-body {
    text-align: center;
    padding: 10px;
}